/* setting up the document's main elements */
html {
    min-height: 100% !important;
    height: 100%;
}

body {
	margin: 0;
	text-align: center;
	font-family: Roboto;
	height: 100%;
}

header {
	height: 50%;
}

main {
	background-color: #2f3135;
	height: 50%;
}

/* base css for all of the dynamic elements */ 

#nameplate {
	color: #2f3135;
	padding-top: 10vh;
	text-transform: uppercase;
	font-size:2.5vh;
	font-weight:500;
	letter-spacing: 1vh;
	margin-left: 1vh; /*offset the last letter's spacing*/
}

#timer {
	color: #2f3135;
	margin:auto;
	width: 100%;
	font-size: 20vh;
	font-weight: 200;
}

.pause-reset {
    background-color: rgba(0,0,0,0);
    border: 1px solid rgba(47, 49, 53, .4);
    color: rgba(47, 49, 53, .4);
    padding: 1vh;
	display: inline-block;
}

.material-icons {
	font-size: 4vh !important;
}

.dice {
	margin:8vh 2vh;
	display: inline-block;
}

.dice img {
	max-height: 15vh;
}

#diceholder {
	background-color: #2f3135;
	width: 100%;
}

#buttonholder {
	background-color: #2f3135;
	margin:0;
	height:30%;
	width: 100%;
}

#roll {
	background-color: #36ba34;
    border: none;
    color: white;
    padding: 3vh 6vh;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    font-size: 4vh;
}
