/* setting up the document's main elements */
html {
    min-height: 100% !important;
    height: 100%;
}

body {
	margin: 0;
	text-align: center;
	font-family: Roboto;
	height: 100%;
	-webkit-text-size-adjust: none;
}

header {
	height: 50%;
	min-height: 200px;
}

main {
	background-color: #2f3135;
	height: 50%;
	min-height: 200px;
}

/* base css for all of the dynamic elements */ 

#nameplate {
	color: #2f3135;
	padding-top: 10%;
	text-transform: uppercase;
	font-weight:500;
	letter-spacing: 5px;
	margin-left: 5px; /*offset the last letter's spacing*/
}

#timer {
	color: #2f3135;
	margin:auto;
	width: 100%;
	font-size: 6em;
	font-weight: 200;
}

#pausebutton {
    background-color: rgba(0,0,0,0);
    border: 1px solid rgba(47, 49, 53, .4);
    color: rgba(47, 49, 53, .4);
    padding: 5px;
	display: inline-block;
}

#resetbutton {
    background-color: rgba(0,0,0,0);
    border: 1px solid rgba(47, 49, 53, .4);
    color: rgba(47, 49, 53, .4);
    padding: 5px;
	display: inline-block;
}

.dice {
	margin:40px 20px;
	display: inline-block;
}

.dice img {
	max-height: 100px;
}

#diceholder {
	background-color: #2f3135;
	width: 100%;
	min-height:180px;
}

#buttonholder {
	background-color: #2f3135;
	margin:0;
	height:30%;
	width: 100%;
}

#roll {
	background-color: #36ba34;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    font-size: 16px;
}
